<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pimmsInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <pimmsInterface.Properties.Settings>
            <setting name="sBasePath" serializeAs="String">
                <value>C:\VioController</value>
            </setting>
            <setting name="sCameraFolder" serializeAs="String">
                <value>Camera</value>
            </setting>
            <setting name="sControllerFolder" serializeAs="String">
                <value>Controller</value>
            </setting>
            <setting name="iNumberOfCameras" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="iNumberOfControllers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sSourceFilePath" serializeAs="String">
                <value>C:\VioController\source</value>
            </setting>
            <setting name="sServerIpAddress" serializeAs="String">
                <value>192.168.1.231</value>
            </setting>
            <setting name="sTriggerIpAddress" serializeAs="String">
                <value>192.168.1.86</value>
            </setting>
            <setting name="sController1IpAddress" serializeAs="String">
                <value>192.168.1.31</value>
            </setting>
            <setting name="sController2IpAddress" serializeAs="String">
                <value>192.168.1.32</value>
            </setting>
            <setting name="iServerPort" serializeAs="String">
                <value>57343</value>
            </setting>
            <setting name="sBatteryIniFile" serializeAs="String">
                <value>battery.ini</value>
            </setting>
            <setting name="sVideoFile" serializeAs="String">
                <value>clip0.mpg</value>
            </setting>
            <setting name="sVideoInfFile" serializeAs="String">
                <value>clip0.inf</value>
            </setting>
            <setting name="iNumberOfRows" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="iListenPort" serializeAs="String">
                <value>57344</value>
            </setting>
            <setting name="sController3IpAddress" serializeAs="String">
                <value>192.168.1.33</value>
            </setting>
        </pimmsInterface.Properties.Settings>
    </userSettings>
</configuration>